
.DS_Store
.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/3/0018b0cffc66001e1f1cce4ef0b4c83b
.metadata/.plugins/org.eclipse.core.resources/.history/47/403b0437fc66001e1f1cce4ef0b4c83b
.metadata/.plugins/org.eclipse.core.resources/.history/50/c07d19e1fc66001e1f1cce4ef0b4c83b
.metadata/.plugins/org.eclipse.core.resources/.history/67/40ac0637fc66001e1f1cce4ef0b4c83b
.metadata/.plugins/org.eclipse.core.resources/.history/76/609b0d35fc66001e1f1cce4ef0b4c83b
.metadata/.plugins/org.eclipse.core.resources/.history/8/00810837fc66001e1f1cce4ef0b4c83b
.metadata/.plugins/org.eclipse.core.resources/.history/cb/c05db27cfc66001e1f1cce4ef0b4c83b
.metadata/.plugins/org.eclipse.core.resources/.history/d7/c0e49a69fa66001e1572f38a9452ff83
.metadata/.plugins/org.eclipse.core.resources/.history/e5/206e2d37fc66001e1f1cce4ef0b4c83b
.metadata/.plugins/org.eclipse.core.resources/.history/fe/00e3e54dfb66001e1f1cce4ef0b4c83b
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/CoolTestrs923/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/CoolTestrs923/.indexes/e4/92/22/81/d2/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/CoolTestrs923/.indexes/e4/b9/22/d1/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/CoolTestrs923/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/CoolTestrs923/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/CoolTestrs923/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/CoolTestrs923/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/CoolTestrs923/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/CoolTestrs923/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/CoolTestrs923/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/SeleniumJava_0923_CoolTester/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/SeleniumJava_0923_CoolTester/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/SeleniumJava_0923_CoolTester/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/SeleniumJava_0923_CoolTester/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SeleniumJava_0923_CoolTester/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SeleniumJava_0923_CoolTester/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/2.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.workbench.renderers.swt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.python.pydev.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/LoginTest.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.ui.workbench.swt/dialog_settings.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/1039504210.index
.metadata/.plugins/org.eclipse.jdt.core/1052405245.index
.metadata/.plugins/org.eclipse.jdt.core/1143551028.index
.metadata/.plugins/org.eclipse.jdt.core/1175953094.index
.metadata/.plugins/org.eclipse.jdt.core/1181557141.index
.metadata/.plugins/org.eclipse.jdt.core/1186696746.index
.metadata/.plugins/org.eclipse.jdt.core/1262689114.index
.metadata/.plugins/org.eclipse.jdt.core/1267731619.index
.metadata/.plugins/org.eclipse.jdt.core/1285711835.index
.metadata/.plugins/org.eclipse.jdt.core/1314550616.index
.metadata/.plugins/org.eclipse.jdt.core/131927572.index
.metadata/.plugins/org.eclipse.jdt.core/1363143500.index
.metadata/.plugins/org.eclipse.jdt.core/1392930502.index
.metadata/.plugins/org.eclipse.jdt.core/1431212419.index
.metadata/.plugins/org.eclipse.jdt.core/1560829225.index
.metadata/.plugins/org.eclipse.jdt.core/1604797640.index
.metadata/.plugins/org.eclipse.jdt.core/1631146388.index
.metadata/.plugins/org.eclipse.jdt.core/1669904754.index
.metadata/.plugins/org.eclipse.jdt.core/1725047102.index
.metadata/.plugins/org.eclipse.jdt.core/1775173612.index
.metadata/.plugins/org.eclipse.jdt.core/184317442.index
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/1892202900.index
.metadata/.plugins/org.eclipse.jdt.core/1981243289.index
.metadata/.plugins/org.eclipse.jdt.core/2006237931.index
.metadata/.plugins/org.eclipse.jdt.core/2012706160.index
.metadata/.plugins/org.eclipse.jdt.core/2103494586.index
.metadata/.plugins/org.eclipse.jdt.core/2491437042.index
.metadata/.plugins/org.eclipse.jdt.core/2493572556.index
.metadata/.plugins/org.eclipse.jdt.core/2535059985.index
.metadata/.plugins/org.eclipse.jdt.core/2589682794.index
.metadata/.plugins/org.eclipse.jdt.core/2602066155.index
.metadata/.plugins/org.eclipse.jdt.core/283009427.index
.metadata/.plugins/org.eclipse.jdt.core/290744301.index
.metadata/.plugins/org.eclipse.jdt.core/2924730292.index
.metadata/.plugins/org.eclipse.jdt.core/298766787.index
.metadata/.plugins/org.eclipse.jdt.core/3023343034.index
.metadata/.plugins/org.eclipse.jdt.core/3151717805.index
.metadata/.plugins/org.eclipse.jdt.core/3186748969.index
.metadata/.plugins/org.eclipse.jdt.core/3304120527.index
.metadata/.plugins/org.eclipse.jdt.core/3405276420.index
.metadata/.plugins/org.eclipse.jdt.core/3437227747.index
.metadata/.plugins/org.eclipse.jdt.core/3494707563.index
.metadata/.plugins/org.eclipse.jdt.core/3549706555.index
.metadata/.plugins/org.eclipse.jdt.core/357572161.index
.metadata/.plugins/org.eclipse.jdt.core/3644502593.index
.metadata/.plugins/org.eclipse.jdt.core/36998295.index
.metadata/.plugins/org.eclipse.jdt.core/3710348642.index
.metadata/.plugins/org.eclipse.jdt.core/3943019114.index
.metadata/.plugins/org.eclipse.jdt.core/3956597404.index
.metadata/.plugins/org.eclipse.jdt.core/3967101150.index
.metadata/.plugins/org.eclipse.jdt.core/397773931.index
.metadata/.plugins/org.eclipse.jdt.core/4117774512.index
.metadata/.plugins/org.eclipse.jdt.core/4155512230.index
.metadata/.plugins/org.eclipse.jdt.core/4158594647.index
.metadata/.plugins/org.eclipse.jdt.core/4183783733.index
.metadata/.plugins/org.eclipse.jdt.core/4199746665.index
.metadata/.plugins/org.eclipse.jdt.core/4208122309.index
.metadata/.plugins/org.eclipse.jdt.core/421602473.index
.metadata/.plugins/org.eclipse.jdt.core/4223427842.index
.metadata/.plugins/org.eclipse.jdt.core/513454799.index
.metadata/.plugins/org.eclipse.jdt.core/544761866.index
.metadata/.plugins/org.eclipse.jdt.core/580989124.index
.metadata/.plugins/org.eclipse.jdt.core/604404302.index
.metadata/.plugins/org.eclipse.jdt.core/685575211.index
.metadata/.plugins/org.eclipse.jdt.core/746687241.index
.metadata/.plugins/org.eclipse.jdt.core/790998188.index
.metadata/.plugins/org.eclipse.jdt.core/869120075.index
.metadata/.plugins/org.eclipse.jdt.core/885491807.index
.metadata/.plugins/org.eclipse.jdt.core/914028343.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/CoolTestrs923.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.jdt/CoolTestrs923.container
.metadata/.plugins/org.eclipse.m2e.logback/0.log
.metadata/.plugins/org.eclipse.m2e.logback/logback.2.1.0.20221015-0744.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wildwebdeveloper.xml/system-catalog.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.python.pydev/pyunit_tests/test_run_pin_info.txt
.metadata/version.ini
CoolTestrs923/.DS_Store
CoolTestrs923/.metadata/.lock
CoolTestrs923/.metadata/.log
CoolTestrs923/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
CoolTestrs923/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
CoolTestrs923/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
CoolTestrs923/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
CoolTestrs923/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
CoolTestrs923/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
CoolTestrs923/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
CoolTestrs923/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
CoolTestrs923/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
CoolTestrs923/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
CoolTestrs923/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
CoolTestrs923/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
CoolTestrs923/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
CoolTestrs923/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
CoolTestrs923/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
CoolTestrs923/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
CoolTestrs923/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.python.pydev.prefs
CoolTestrs923/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
CoolTestrs923/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
CoolTestrs923/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
CoolTestrs923/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
CoolTestrs923/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
CoolTestrs923/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
CoolTestrs923/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
CoolTestrs923/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
CoolTestrs923/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
CoolTestrs923/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
CoolTestrs923/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
CoolTestrs923/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
CoolTestrs923/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
CoolTestrs923/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
CoolTestrs923/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
CoolTestrs923/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
CoolTestrs923/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
CoolTestrs923/.metadata/.plugins/org.eclipse.m2e.logback/0.log
CoolTestrs923/.metadata/.plugins/org.eclipse.m2e.logback/logback.2.1.0.20221015-0744.xml
CoolTestrs923/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
CoolTestrs923/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
CoolTestrs923/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
CoolTestrs923/.metadata/.plugins/org.eclipse.ui.intro/introstate
CoolTestrs923/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
CoolTestrs923/.metadata/.plugins/org.python.pydev/pyunit_tests/test_run_pin_info.txt
CoolTestrs923/.metadata/version.ini
CoolTestrs923/src/.DS_Store
CoolTestrs923/src/main/.DS_Store
CoolTestrs923/src/main/java/.DS_Store
